<!DOCTYPE html>
<html>
<head>
  <title>Web Interface</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      function start_program() {
        socket.emit('start_program');
      }
</script>

<style>
  .controls {	
    position: absolute;	       
	background-color: #F0F0F0;
	opacity: 0.65;
	z-index: 10;
	width: 320px;
	height: 310px;
	top: 45px;
	left: 45px;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js" integrity="sha512-sGwMXCgejKOhPKh2vTL59jB0Kn0Zfucd9Xq3tYl0jK1wZ0c05Oa1Hv0JzMW5P5o5E5xE5jKv5AXUKoW/c2DyGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
  <h1>Team09 IRoomba Web Interface</h1>
  <h1>Controls</h1>

  <button onclick="start_program()">Start Program</button>

  <div class="controls" style="display:none"></div>
		
		<div class="buttons" style="">
			<img src="https://iili.io/HGfdZNf.jpg" alt="HGfdZNf.jpg" border="0" height="100"></a>
      
      <button id = "up">
			<img src="https://iili.io/HGfdQAG.jpg" alt="HGfdQAG.jpg" border="0" height="100"></a>
      </button>

      <br>
			<button id="left">
      <img src="https://iili.io/HGfdiSn.jpg" alt="HGfdiSn.jpg" border="0" height="100"></a>
      </button>
     
      <button id="stop">
      <img src="https://iili.io/HGfdL9s.jpg" alt="HGfdL9s.jpg" border="0" height="100"></a>
      </button>
			
      <button id="right">
      <img src="https://iili.io/HGfdbol.jpg" alt="HGfdbol.jpg" border="0" height="100"></a>
      </button>
      <br>

			<img src="https://iili.io/HGfdZNf.jpg" alt="HGfdZNf.jpg" border="0" height="100"></a>
			
      <button id="down">
      <img src="https://iili.io/HGfdtt4.jpg" alt="HGfdtt4.jpg" border="0" height="100"></a>
      </button>
		</div>
    <br>
    <br>
    <br>
    <p>Made by Amanda Bolden, Aljenadro, and Chris for Capston 491</p>

    <!-- The Socket.IO client library -->
  <script src="/socket.io/socket.io.js"></script>
</body>
</html>

